<h3 class="text-center mb-5">Angular POC 3</h3>
<div class="row m-0">
    <div class="col-lg-8 box">
        Drag Component
    </div>
    <div class="col-lg-4 box">
        <h6>
            Drag Items from List
        </h6>
        <div class="example-box mb-3" appDragging>
            <app-button></app-button>
        </div>
        <div class="example-box mb-3" appDragging>
            <app-textbox></app-textbox>
        </div>
        <div class="example-box mb-3" appDragging>
            <app-spinner></app-spinner>
        </div>
        <div class="example-box mb-3" appDragging>
            <app-navbar></app-navbar>
        </div>
    </div>
</div>