<h3 class="text-center mb-5">Angular POC 2</h3>
    <div class="paddinglr30p" *ngIf="wellForm">
        <h6>Add Well</h6>
        <form [formGroup]="wellForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">
                <p class="text-danger" *ngIf="((this.wellForm.get('name').touched && this.wellForm.get('name').errors?.required) || (isSubmitted && this.wellForm.get('name').errors?.required))">
                    Name is required
                </p>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" formControlName="type">
                <p class="text-danger" *ngIf="((this.wellForm.get('type').touched && this.wellForm.get('type').errors?.required) || (isSubmitted && this.wellForm.get('type').errors?.required))">
                    Type is required
                </p>
                <p class="text-danger" *ngIf="(this.wellForm.get('type').dirty && this.wellForm.get('type').errors?.notAllowedType && !this.wellForm.get('type').errors?.required)">
                    Type value should be esp and na
                </p>
            </div>
            <div class="form-group">
                <label for="sourceKey">Source Key</label>
                <input type="text" class="form-control" formControlName="source">
                <p class="text-danger" *ngIf="((this.wellForm.get('source').touched && this.wellForm.get('source').errors?.required) || (isSubmitted && this.wellForm.get('source').errors?.required))">
                    Source is required
                </p>
            </div>
            <button class="btn btn-success"(click)="onAddWell()" type="submit">Add Well</button>
        </form>
    </div>
